body {background-color: rgba(59, 6, 46, 0.897);
color: #180b1d; 
font-size: 40px; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: center;
justify-items: center;
text-align: center;

text-align: center;
}

.imagem-cabecalho{
    width: 250px ;
}